$backroundColor: #35786E;
$textColor: #FFFFFF;

.site-footer {
    background-color: $backroundColor;
    width: 100%;
    max-width: 1440px;
    margin: 1.75em auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #FFFFFF;
    position: relative;

    & .contacts {
        width: 65%;
        margin: 4.45em auto 1.65em;
        display: flex;
        justify-content: space-between;
        font-style: normal;
        border-bottom: 1px solid rgba(255, 255, 255,0.25);

        & .contact {
            width: 25%;
            word-wrap: break-word;
            word-break: break-word;

            &:last-child {
                width: 30%;
            }
    
            &  p:first-child {
                font-size: 0.75rem;
                line-height: 16px;
                font-family: 'Teva Sans Regular';
                margin-bottom: 0.58em;
            }

            & p:nth-child(2n) {
                margin-bottom: 1em;
            }

            & p {
                line-height: 24px;
            }
        }
    }

    & .curve {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    & .bottom-logo {
        position: absolute;
        bottom: 3%;
        right: 1%;
    }

    & .policies {
        width: 65%;
        display: flex;
        margin-bottom: 5.5em;;

        & .policy {
            margin-right: 2.5em;
            font-size: 0.75rem;
        }
    }
}