$mainColor: #d0d0d0;

header {
    width: 100%;
    max-width: 1440px;
    max-height: 140px;
    display: flex;
    justify-content: space-between;
    padding: 1.375rem 2rem 1.4rem 0rem;
    margin: 0 auto 4.2em;
    position: relative;
    box-shadow: 0 10px 20px -10px $mainColor;

    &::before {
        width: 100%;
        height: 5px;
        content: "";
        background-color: #3d7e79;
        position: absolute;
        top: 0;
    }
}

.logo-parent-container {
    width: 24.71%;
    display: flex;
    justify-content: space-between;
    margin: 2em 2.75em;
    position: relative;

    & .logo-container {
        width: 76%;
        display: flex;

        & .teva-logo {
            width: 35%;
            padding-right: 8.5%;
        }

        & .line {
            position: relative;
            top: 8px;
            z-index: 10;
            width: 1px;
            height: 20px;
            background-color: $mainColor;
        }

        & .ratio-farm {
            width: 60%;
            padding-left: 8.5%;
        }
    }
}

.language {
    display: inline-block;
    font-size: 0.75rem;
    position: relative;
    margin: 0.5em 3em 0 0;

    &::after {
        content: "";
        position: absolute;
        top: 25%;
        margin: 0 8px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #424242;
    }
}

$navMenuMainColor: #01567a;

.nav-menu {
    width: 68.5%;
    display: flex;
    position: relative;
    max-height: 29px;
    align-self: flex-start;
    color: $navMenuMainColor;

    &::after {
        width: calc(100% - 2px);
        content: "";
        height: 1px;
        background-color: rgba(1, 86, 122, 0.2);
        position: absolute;
        bottom: 0;
        right: -2px;
    }

    & ul {
        font-size: 0.75rem;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    & li:last-child {
        padding-left: 2em;

        &::after {
            content: "";
            position: absolute;
            top: 25%;
            margin: 0 8px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid $navMenuMainColor;
        }
    }

    & li {
        display: inline-block;
        padding: 0 2em 1em 0;

        & .small {
            margin-right: 0.5em;
            font-size: 10px;
        }

        & a {
            text-align: left;
            line-height: 16px;
        }
    }
}

.authentication {
    margin-left: auto;

    & .big {
        margin-left: 0.5em;
    }
}
