$mainColorGrey: #424242;
$secondaryColorGreen: #35786E;

.site-main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: $mainColorGrey;
}

.activateAccount {
    width: 33%;
    margin-right: 5em;

    & h1 {
        margin-bottom: 1.5em;
    }

    & .instructions {
        width: 90%;
    }

    & .instructions + p {
        padding-bottom: 1em;

        & a {
            color: #02567A;
            margin-left: 0.3em;
            text-decoration: underline;
        }
    }
}

.sidebar {
    width: 26%;
    padding: 0 1.5em 1em 0.5em;
    align-self: flex-start;
    margin-top: 5em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);

    & > p {
        font-size: 1.65rem;
        line-height: 75px;
        margin: 0;
        padding-left: 0.5em;
    }

    & ul {
        list-style-type: none;
    }

    & li {
        font-family: 'Teva Sans Bold';
        font-size: 0.81rem;
        display: flex;
        color: $secondaryColorGreen;
        align-items: center;
        text-transform: uppercase;
    }
}
