.bigButton {
    font-size: 1.19rem;
    padding: 0.9em 3.5em;
    border: none;
    background-color: #757575;
    color: #fff;
    border-radius: 40px;
    line-height: 26px;
    margin-bottom: 2em;
    pointer-events: none;
}