#rulesAgree {
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.checkbox {
    margin-bottom: 3em; 

    & .custom-checkbox {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: rgba(173, 173, 173, 0.3);
        position: relative;
        margin: 0 1em 1em 0;
        vertical-align: top;

        &::before {
            content: "";
            display: none;
            position: absolute;
            width: 15px;
            height: 10px;
            border-bottom: 3px solid #fff;
            border-left: 3px solid #fff;
            left: 25%;
            top: 20%;
            transform: rotate(-45deg);
        }
    }

    & label {
        font-size: 0.75rem;
        line-height: 16px;
        width: 80%;
        display: inline-block;
    }
}

#rulesAgree:checked + .custom-checkbox::before {
    display: block;
}

#rulesAgree:checked + .custom-checkbox {
    background-color: #269E75;
}
