$errorColor: #FB3449;
$mainColorGrey: #424242;

@mixin moveLabel {
    bottom: 80%;
    font-size: 75%;
}

.input-container {
    width: 95%;
    position: relative;
    margin-bottom: 2em;
}

.input-container input {
    padding: 10px;                  /* For some reason on smaller devices this padding makes the lines thicker */
    line-height: 36px;
    font-size: 1.65rem;
    width: 100%;
    z-index: 1;
    color: $mainColorGrey;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $mainColorGrey;
    outline: none;
    box-shadow: none;
}

.input-container input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container label {
    position: absolute;
    bottom: 0;
    color: inherit;
    transition: bottom 250ms ease-in-out;
    padding-bottom: 5px;
}

.input-container input:focus + label {
    @include moveLabel;
}

.input-container input:valid + label {
    @include moveLabel;
}
