.message {
    position: absolute;
    display: none;
    font-size: 0.75rem;
    line-height: 16px;
    padding: 2em;
    left: 30%;
    bottom: 85%;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    box-shadow: 1px 1px 10px 0 #d0d0d0;
    z-index: 10;

    &::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #d0d0d0;
        border-bottom: 5px solid transparent;
        right: 50%;
        bottom: -11px;
    }

    &::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
        right: 50%;
        bottom: -10px;
    }
}

.checkbox-message {
    left: 10%;
    bottom: 110%;
}
