@font-face {
    font-family: 'Teva Sans Light';
    src: url('/TevaSans/TevaSans-Light.otf') format('truetype');
}
@font-face {
    font-family: 'Teva Sans Bold';
    src: url('/TevaSans/TevaSans-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Teva Sans Regular';
    src: url('/TevaSans/TevaSans-Regular.otf') format('truetype');
}

html {
    font: 16px/1.5 'Teva Sans Light', 'Helvetica', sans-serif;
}

button, input, a {
    font: inherit;
}

h1 {
    font-size: 1.94rem;
    line-height: 42px;
    font-family: inherit;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: 2em;
}
