@mixin tablet {
    @media screen and (max-width: 900px) {
        .sidebar {
            width: 35%;
            padding: 0 2em 3em 0.5em;
        }

        .activateAccount {
            width: 40%;
        }
    }
}

@mixin phoneL {
    @media screen and (max-width: 625px) {
        html {
            font-size: 14px;
        }
        .site-main {
            flex-wrap: wrap;
            // flex-direction: column-reverse;
        }
        .sidebar, .activateAccount {
            width: 90%;
            margin: 0 auto;
        }
        input {
            padding: 0;
        }
    }
}

@include tablet;
@include phoneL;